* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}
.navbar {
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #ff7200;
}
.nav-link {
  list-style: none;
  gap: 24px;
  display: flex;
}
.nav-link a {
  text-decoration: none;
}
.signup {
  width: 250px;
  height: 350px;
  position: absolute;
  top: 35%;
 right: 50px;
  border-radius: 10px;
  padding: 20px;
 
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 50%,
    rgba(0,0,0,0.8) 50%
  );
}
.signup input {
  gap: 25px;
  
  
  margin-top: 20px;
  margin-right: 20px;
  height: auto;
  width: 98%;
  padding: 16px;
  margin-left: 10px;
  color: #fff;
  align-items: center;
  font-size: 10px;
  letter-spacing: 6px;
  
  background: transparent;
  border-bottom: 2px solid #ff7200;
}
label {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  color: #ff7200;
}
.link{
  font-size: 16px;
  color: whitesmoke;
}
.link a:hover{
  color: #ff7200;
}
.image {
  width: 50%;
  height: auto;
  max-width: 100px;
}
footer {
  display: flex;
  background-color: #ff7200;
  color: #ddd;
  text-align: center;
  padding:16px 20px;
 
  
  justify-content: space-between;
  
  margin-top: 0;
}
footer i {
  color: #dae6e3;
  padding: 8px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
}
footer i:hover {
  background-color: black;
}
button {
  margin-top: 10px;
  background-color: #ff7200;
  transform: translate y(100%);
  border-radius: 8px;
  padding: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  border: 2px solid black;
  justify-content: center;
  
}
button a{
  text-decoration: none;
  color: black;
}
button:hover {
  transform: translateY(10%);
  background-color: white;
}
h2 {
  text-align: center;
  color: white;
}
p {
  color: #ddd;;
  text-align: left;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 100;
  font-family: "poppins";
}
p a {
  text-decoration: none;
  color: rgb(229, 227, 238);
}
p a:hover {
  text-decoration: underline;
}
.about {
  display: flex;
  gap: 50px;
}
.p-about {
  width: 100%;
  height: auto;

  line-height: 100px;
}
.pict {
  width: 300px;
  height: 340px;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #ff7200;
  border-radius: 50%;
}
.pict:hover {
  background-color: rgb(235, 184, 150);
  border-radius: 10px 20px;
}
.para {
  font-size: 20px;
  text-align: left;
}
.skills {
  background-color: gray;
  padding: 20px;
  text-align: center;
}
ul li {
  list-style: none;
}

.head h1 {
  text-align: start;
  font-family: "poppins";
}
.about p {
  font-size: 18px;
  line-height: 1.6;
}
header {
  position: relative;
}
header h1 {
  font-size: 36px;
}
.contact-form {
 
  width: 55%;
  height: 250px;
  background: transparent;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}
.contact-form input {
  border-radius: 8px;
  border: 2px solid black;
  margin-top: 15px;
  padding: 10px;
  width: 98%;
  margin-left: 10px;
  background-color: wheat;
}
.contact-form textarea {
  border-radius: 8px;
  border: 2px solid black;
  margin-top: 15px;
  padding: 10px;
  width: 98%;
  background-color:wheat ;
  margin-left: 10px;
}
h1 {
  text-align: center;
}
.main {
  background:
    linear-gradient(
      to top,
      rgba(65, 58, 58, 0.7) 50%,
      rgba(70, 63, 63, 0.7) 50%
    ),
    url("tree.jpeg");
  background-position: center;
  background-size: cover;
 
  height: 109vh;
}



